$bg: #fffaf7;
$bg2: #ffffffcc;
$primary: #fd9d69;
$primary-5: #fffaf7;
$info: #fdb187;
$error: #d45c54;
$stroke-3: #feceb4;

$gray: #a1a4aa;
$light-gray: #c7c9cc;
$light-gray-2: #e9eaea;
$light-gray-3: #d9dbdd;
$dark-blue: #434a56;
$white: #fff;
$black: #000;

$disable-button-bg: #d9dbdd;
$disable-button-text: #b4b7bb;

$gradient-left: #fd9d69;
$gradient-right: #e964a3;
