:root {
  --global-brand-primary-primary100: #fd9d69;
  --global-brand-primary-primary140: #985e3f;
  --global-brand-primary-primary130: #b16e4a;
  --global-brand-primary-primary120: #ca7e54;
  --global-brand-primary-primary110: #e48d5f;
  --global-brand-primary-primary90: #fda778;
  --global-brand-primary-primary80: #fdb187;
  --global-brand-primary-primary70: #feba96;
  --global-brand-primary-primary60: #fec4a5;
  --global-brand-primary-primary50: #feceb4;
  --global-brand-primary-primary40: #fed8c3;
  --global-brand-primary-primary30: #fee2d2;
  --global-brand-primary-primary20: #ffebe1;
  --global-brand-primary-primary10: #fff5f0;
  --global-brand-primary-primary5: #fffaf7;
  --global-brand-secondary-secondary100: #e964a3;
  --global-brand-secondary-secondary140: #8c3c62;
  --global-brand-secondary-secondary130: #a34672;
  --global-brand-secondary-secondary120: #ba5082;
  --global-brand-secondary-secondary110: #d25a93;
  --global-brand-secondary-secondary90: #eb74ac;
  --global-brand-secondary-secondary80: #ed83b5;
  --global-brand-secondary-secondary70: #f092bf;
  --global-brand-secondary-secondary60: #f2a2c8;
  --global-brand-secondary-secondary50: #f4b1d1;
  --global-brand-secondary-secondary40: #f6c1da;
  --global-brand-secondary-secondary30: #f8d0e3;
  --global-brand-secondary-secondary20: #fbe0ed;
  --global-brand-secondary-secondary10: #fdeff6;
  --global-brand-secondary-secondary5: #fef7fa;
  --global-brand-linear-primary: linear-gradient(180deg, #fd9d69 0%, #e964a3 100%);
  --global-brand-linear-secondary: linear-gradient(90deg, #fd9d69 0%, #e964a3 100%);
  --global-neutralColor-white: #ffffff;
  --global-neutralColor-black: #000000;
  --global-neutralColor-gray-gray100: #434a56;
  --global-neutralColor-gray-gray90: #565c67;
  --global-neutralColor-gray-gray80: #696e78;
  --global-neutralColor-gray-gray70: #7b8089;
  --global-neutralColor-gray-gray60: #8e929a;
  --global-neutralColor-gray-gray50: #a1a4aa;
  --global-neutralColor-gray-gray40: #b4b7bb;
  --global-neutralColor-gray-gray30: #c7c9cc;
  --global-neutralColor-gray-gray20: #d9dbdd;
  --global-neutralColor-gray-gray10: #e9eaea;
  --global-neutralColor-gray-gray5: #f6f6f7;
  --global-neutralColor-gray-gray2: #fbfbfc;
  --global-semanticColor-success-success100: #4db251;
  --global-semanticColor-success-success140: #2e6b31;
  --global-semanticColor-success-success130: #367d39;
  --global-semanticColor-success-success120: #3e8e41;
  --global-semanticColor-success-success110: #45a049;
  --global-semanticColor-success-success90: #5fba62;
  --global-semanticColor-success-success80: #71c174;
  --global-semanticColor-success-success70: #82c985;
  --global-semanticColor-success-success60: #94d197;
  --global-semanticColor-success-success50: #a6d9a8;
  --global-semanticColor-success-success40: #b8e0b9;
  --global-semanticColor-success-success30: #cae8cb;
  --global-semanticColor-success-success20: #dbf0dc;
  --global-semanticColor-success-success10: #edf7ee;
  --global-semanticColor-success-success5: #f6fbf6;
  --global-semanticColor-warning-warning100: #ffbf00;
  --global-semanticColor-warning-warning140: #997300;
  --global-semanticColor-warning-warning130: #b28600;
  --global-semanticColor-warning-warning120: #cc9900;
  --global-semanticColor-warning-warning110: #e5ac00;
  --global-semanticColor-warning-warning90: #ffc51a;
  --global-semanticColor-warning-warning80: #ffcc33;
  --global-semanticColor-warning-warning70: #ffd24d;
  --global-semanticColor-warning-warning60: #ffd966;
  --global-semanticColor-warning-warning50: #ffdf80;
  --global-semanticColor-warning-warning40: #ffe599;
  --global-semanticColor-warning-warning30: #ffecb2;
  --global-semanticColor-warning-warning20: #fff2cc;
  --global-semanticColor-warning-warning10: #fff9e5;
  --global-semanticColor-warning-warning5: #fffcf2;
  --global-semanticColor-negative-negative100: #c2160a;
  --global-semanticColor-negative-negative140: #740d06;
  --global-semanticColor-negative-negative130: #880f07;
  --global-semanticColor-negative-negative120: #9b1208;
  --global-semanticColor-negative-negative110: #af1409;
  --global-semanticColor-negative-negative90: #c82d23;
  --global-semanticColor-negative-negative80: #ce453b;
  --global-semanticColor-negative-negative70: #d45c54;
  --global-semanticColor-negative-negative60: #da736c;
  --global-semanticColor-negative-negative50: #e18a84;
  --global-semanticColor-negative-negative40: #e7a29d;
  --global-semanticColor-negative-negative30: #edb9b5;
  --global-semanticColor-negative-negative20: #f3d0ce;
  --global-semanticColor-negative-negative10: #f9e8e6;
  --global-semanticColor-negative-negative5: #fcf3f3;
  --global-semanticColor-informative-informative100: #0d80f2;
  --global-semanticColor-informative-informative140: #084d91;
  --global-semanticColor-informative-informative130: #095aa9;
  --global-semanticColor-informative-informative120: #0a66c2;
  --global-semanticColor-informative-informative110: #0c73da;
  --global-semanticColor-informative-informative90: #258df3;
  --global-semanticColor-informative-informative80: #3d99f5;
  --global-semanticColor-informative-informative70: #56a6f6;
  --global-semanticColor-informative-informative60: #6eb3f7;
  --global-semanticColor-informative-informative50: #86bff9;
  --global-semanticColor-informative-informative40: #9eccfa;
  --global-semanticColor-informative-informative30: #b6d9fb;
  --global-semanticColor-informative-informative20: #cfe6fc;
  --global-semanticColor-informative-informative10: #e7f2fe;
  --global-semanticColor-informative-informative5: #f3f9fe;
  --common-text-default-text1: var(--global-neutralColor-gray-gray100);
  --common-text-default-text2: var(--global-brand-secondary-secondary100);
  --common-text-default-text3: var(--global-brand-primary-primary100);
  --common-text-default-text4: var(--global-neutralColor-white);
  --common-text-default-text6: var(--global-neutralColor-gray-gray30);
  --common-text-default-text7: var(--global-neutralColor-gray-gray70);
  --common-text-default-text8: var(--global-neutralColor-gray-gray50);
  --common-text-disable-text: var(--global-neutralColor-gray-gray40);
  --common-text-onBg-textOnDarkBg: var(--global-neutralColor-white);
  --common-text-onBg-textOnLightBg: var(--global-neutralColor-gray-gray100);
  --common-icon-default-icon1: var(--global-neutralColor-gray-gray100);
  --common-icon-default-icon2: var(--global-brand-secondary-secondary100);
  --common-icon-default-icon3: var(--global-brand-primary-primary100);
  --common-icon-default-icon4: var(--global-neutralColor-white);
  --common-icon-default-icon6: var(--global-neutralColor-gray-gray30);
  --common-icon-default-icon7: var(--global-neutralColor-gray-gray70);
  --common-icon-default-icon8: var(--global-neutralColor-gray-gray50);
  --common-icon-disable-icon: var(--global-neutralColor-gray-gray40);
  --common-icon-onBg-iconOnDarkBg: var(--global-neutralColor-white);
  --common-icon-onBg-iconOnLightBg: var(--global-neutralColor-gray-gray100);
  --common-stroke-stroke1: var(--global-brand-primary-primary5);
  --common-stroke-stroke2: var(--global-neutralColor-gray-gray10);
  --common-stroke-stroke6: var(--global-neutralColor-gray-gray20);
  --common-stroke-stroke3: var(--global-brand-primary-primary50);
  --common-stroke-stroke4: var(--global-brand-secondary-secondary50);
  --common-stroke-stroke5: var(--global-brand-primary-primary100);
  --common-semantic-success: var(--global-semanticColor-success-success100);
  --common-semantic-negative: var(--global-semanticColor-negative-negative100);
  --common-semantic-warning: var(--global-semanticColor-warning-warning100);
  --common-semantic-informative: var(--global-semanticColor-informative-informative100);
  --common-etc-opacity-primary-primary80: #fd9d69cc;
  --common-etc-opacity-primary-primary70: #fd9d69b3;
  --common-etc-opacity-primary-primary60: #fd9d6999;
  --common-etc-opacity-primary-primary50: #fd9d6980;
  --common-etc-opacity-primary-primary40: #fd9d6966;
  --common-etc-opacity-primary-primary30: #fd9d694d;
  --common-etc-opacity-secondary-secondary80: #e964a3cc;
  --common-etc-opacity-secondary-secondary70: #e964a3b3;
  --common-etc-opacity-secondary-secondary60: #e964a399;
  --common-etc-opacity-secondary-secondary50: #e964a380;
  --common-etc-opacity-secondary-secondary40: #e964a366;
  --common-etc-opacity-secondary-secondary30: #e964a34d;
  --common-etc-opacity-white-white80: #ffffffcc;
  --common-etc-opacity-white-white70: #ffffffb3;
  --common-etc-opacity-white-white60: #ffffff99;
  --common-etc-opacity-white-white50: #ffffff80;
  --common-etc-opacity-white-white40: #ffffff66;
  --common-etc-opacity-white-white30: #ffffff4d;
  --common-etc-opacity-black-black80: #000000cc;
  --common-etc-opacity-black-black70: #000000b3;
  --common-etc-opacity-black-black60: #00000099;
  --common-etc-opacity-black-black50: #00000080;
  --common-etc-opacity-black-black40: #00000066;
  --common-etc-opacity-black-black30: #0000004d;
  --common-gradient-skeleton: linear-gradient(90deg, #e9e9e9 0%, #fbfbfb 100%);
  --specific-button-primary-default-bg: var(--global-brand-primary-primary100);
  --specific-button-primary-default-text: var(--common-text-default-text4);
  --specific-button-primary-default-icon: var(--common-icon-default-icon4);
  --specific-button-primary-default-stroke: var(--global-brand-primary-primary100);
  --specific-button-primary-hover-bg: var(--global-brand-primary-primary110);
  --specific-button-primary-hover-text: var(--common-text-default-text4);
  --specific-button-primary-hover-icon: var(--common-icon-default-icon4);
  --specific-button-primary-hover-stroke: var(--global-brand-primary-primary110);
  --specific-button-primary-disable-bg: var(--global-neutralColor-gray-gray20);
  --specific-button-primary-disable-text: var(--common-text-disable-text);
  --specific-button-primary-disable-icon: var(--common-icon-disable-icon);
  --specific-button-primary-disable-stroke: var(--global-neutralColor-gray-gray20);
  --specific-button-secondary-default-bg: #ffffff00;
  --specific-button-secondary-default-text: var(--common-text-default-text1);
  --specific-button-secondary-default-icon: var(--common-icon-default-icon1);
  --specific-button-secondary-default-stroke: var(--common-stroke-stroke6);
  --specific-button-secondary-default-bg2: var(--global-neutralColor-white);
  --specific-button-secondary-hover-bg: var(--global-brand-primary-primary30);
  --specific-button-secondary-hover-text: var(--common-text-default-text1);
  --specific-button-secondary-hover-icon: var(--common-icon-default-icon1);
  --specific-button-secondary-hover-stroke: var(--global-brand-primary-primary100);
  --specific-button-secondary-disable-bg: #ffffff00;
  --specific-button-secondary-disable-text: var(--common-text-disable-text);
  --specific-button-secondary-disable-icon: var(--common-icon-disable-icon);
  --specific-button-secondary-disable-stroke: var(--global-neutralColor-gray-gray30);
  --specific-button-secondary-disable-bg2: var(--global-neutralColor-white);
  --specific-button-text-default-bg: #ffffff00;
  --specific-button-text-default-text: var(--common-text-default-text3);
  --specific-button-text-default-icon: var(--common-icon-default-icon3);
  --specific-button-text-default-stroke: #ffffff00;
  --specific-button-text-hover-bg: var(--global-brand-primary-primary10);
  --specific-button-text-hover-text: var(--common-text-default-text3);
  --specific-button-text-hover-icon: var(--common-icon-default-icon3);
  --specific-button-text-hover-stroke: var(--global-brand-primary-primary100);
  --specific-button-text-disable-bg: #ffffff00;
  --specific-button-text-disable-text: var(--common-text-disable-text);
  --specific-button-text-disable-icon: var(--common-icon-disable-icon);
  --specific-button-text-disable-stroke: #ffffff00;
  --specific-loading-icon: var(--global-brand-primary-primary50);
  --specific-bg-bg1: var(--global-brand-primary-primary100);
  --specific-bg-bg2: var(--global-brand-primary-primary40);
  --specific-bg-bg3: var(--global-brand-primary-primary5);
  --specific-bg-bg4: var(--global-neutralColor-gray-gray2);
  --specific-bg-bg5: var(--global-neutralColor-white);
  --specific-bg-linear: var(--global-brand-linear-primary);
  --specific-inputField-default-bg: var(--global-neutralColor-white);
  --specific-inputField-default-stroke: var(--common-stroke-stroke2);
  --specific-inputField-default-textLabel: var(--common-text-default-text6);
  --specific-inputField-default-textInput: var(--common-text-default-text6);
  --specific-inputField-default-textFilled: var(--common-text-default-text1);
  --specific-inputField-default-textDes: var(--common-text-default-text6);
  --specific-inputField-default-icon: var(--common-icon-default-icon1);
  --specific-inputField-error-bg: var(--global-neutralColor-white);
  --specific-inputField-error-stroke: var(--common-semantic-negative);
  --specific-inputField-error-textLabel: var(--common-text-default-text6);
  --specific-inputField-error-textInput: var(--common-text-default-text6);
  --specific-inputField-error-textFilled: var(--common-text-default-text1);
  --specific-inputField-error-textDes: var(--common-semantic-negative);
  --specific-inputField-error-icon: var(--common-icon-default-icon1);
  --specific-inputField-typing-bg: var(--global-neutralColor-white);
  --specific-inputField-typing-stroke: var(--common-stroke-stroke3);
  --specific-inputField-typing-textLabel: var(--common-text-default-text6);
  --specific-inputField-typing-textInput: var(--common-text-default-text1);
  --specific-inputField-typing-textDes: var(--common-text-default-text6);
  --specific-inputField-typing-icon: var(--common-icon-default-icon1);
  --specific-inputField-disable-bg: var(--global-neutralColor-gray-gray10);
  --specific-inputField-disable-stroke: var(--global-neutralColor-gray-gray10);
  --specific-inputField-disable-textLabel: var(--common-text-disable-text);
  --specific-inputField-disable-textInput: var(--common-text-disable-text);
  --specific-inputField-disable-textDes: var(--common-text-disable-text);
  --specific-inputField-disable-icon: var(--common-icon-disable-icon);
  --specific-chip-default-bg: var(--global-neutralColor-white);
  --specific-chip-default-stroke: var(--common-stroke-stroke5);
  --specific-chip-default-text: var(--common-text-default-text3);
  --specific-chip-default-text2: var(--common-text-default-text1);
  --specific-chip-default-icon: var(--common-icon-default-icon3);
  --specific-chip-selected-bg: var(--global-brand-primary-primary100);
  --specific-chip-selected-stroke: var(--common-stroke-stroke5);
  --specific-chip-selected-text: var(--common-text-default-text4);
  --specific-chip-selected-icon: var(--common-icon-default-icon4);
  --specific-tab-default-text: var(--global-neutralColor-gray-gray50);
  --specific-tab-select-text: var(--common-text-default-text3);
  --specific-tab-select-stroke: var(--common-stroke-stroke5);
  --specific-checkbox-default-blank-bg: #ffffff00;
  --specific-checkbox-default-blank-stroke: var(--global-neutralColor-gray-gray100);
  --specific-checkbox-default-checked-bg: var(--global-brand-primary-primary100);
  --specific-checkbox-default-checked-icon: var(--common-icon-default-icon4);
  --specific-checkbox-default-determinate-bg: var(--global-brand-primary-primary100);
  --specific-checkbox-default-determinate-icon: var(--common-icon-default-icon4);
  --specific-checkbox-disable-blank-bg: #ffffff00;
  --specific-checkbox-disable-blank-stroke: var(--global-neutralColor-gray-gray50);
  --specific-checkbox-disable-checked-bg: var(--global-neutralColor-gray-gray50);
  --specific-checkbox-disable-checked-icon: var(--common-icon-default-icon4);
  --specific-checkbox-disable-determinate-bg: var(--global-neutralColor-gray-gray50);
  --specific-checkbox-disable-determinate-icon: var(--common-icon-default-icon4);
  --specific-checkbox-error-blank-bg: #ffffff00;
  --specific-checkbox-error-blank-stroke: var(--common-semantic-negative);
  --specific-checkbox-error-checked-bg: var(--common-semantic-negative);
  --specific-checkbox-error-checked-icon: var(--common-icon-default-icon4);
  --specific-checkbox-error-determinate-bg: var(--common-semantic-negative);
  --specific-checkbox-error-determinate-icon: var(--common-icon-default-icon4);
  --specific-bottomSheet-bg: var(--global-neutralColor-white);
  --specific-bottomSheet-textTitle: var(--common-text-default-text1);
  --specific-bottomSheet-textDescription: var(--common-text-default-text1);
  --specific-bottomSheet-closeIcon: var(--common-icon-default-icon1);
  --specific-bottomSheet-successIcon: var(--common-semantic-success);
  --specific-bottomSheet-errorIcon: var(--common-semantic-negative);
  --specific-bottomSheet-warningIcon: var(--common-icon-default-icon6);
  --specific-toast-success-bg: var(--common-semantic-success);
  --specific-toast-success-text: var(--common-text-default-text4);
  --specific-toast-success-icon: var(--common-icon-default-icon4);
  --specific-toast-error-bg: var(--common-semantic-negative);
  --specific-toast-error-text: var(--common-text-default-text4);
  --specific-toast-error-icon: var(--common-icon-default-icon4);
  --specific-toast-warning-bg: var(--common-semantic-warning);
  --specific-toast-warning-text: var(--common-text-default-text4);
  --specific-toast-warning-icon: var(--common-icon-default-icon4);
  --specific-tabInfo-default-bg: var(--global-brand-primary-primary10);
  --specific-tabInfo-default-icon: var(--common-icon-default-icon3);
  --specific-tabInfo-default-text: var(--common-text-default-text3);
  --specific-card-requestTemplate-default-textTitle: var(--common-text-default-text3);
  --specific-card-requestTemplate-default-textDescription: var(--common-text-default-text1);
  --specific-card-requestTemplate-default-bg: var(--global-brand-primary-primary10);
  --specific-card-requestTemplate-default-icon: var(--common-icon-default-icon4);
  --specific-card-requestTemplate-default-iconBg: var(--global-brand-primary-primary100);
  --specific-card-requestTemplate-default-iconStroke: var(--global-brand-primary-primary30);
  --specific-card-requestTemplate-disable-textTitle: var(--common-text-default-text8);
  --specific-card-requestTemplate-disable-textDescription: var(--common-text-default-text8);
  --specific-card-requestTemplate-disable-bg: var(--global-neutralColor-gray-gray5);
  --specific-card-requestTemplate-disable-icon: var(--common-icon-default-icon4);
  --specific-card-requestTemplate-disable-iconBg: var(--global-neutralColor-gray-gray30);
  --specific-card-requestTemplate-disable-iconStroke: var(--global-neutralColor-gray-gray10);
  --specific-card-scriptCreater-bg: var(--global-brand-primary-primary5);
  --specific-card-scriptCreater-text: var(--global-brand-primary-primary50);
  --specific-card-scriptCreater-textRemark: var(--common-text-default-text3);
  --specific-card-scriptCreater-textDescription: var(--common-text-default-text6);
  --specific-card-scriptCreater-stroke: var(--common-stroke-stroke3);
  --specific-card-summaryBox-bg: var(--global-brand-primary-primary20);
  --specific-card-summaryBox-text: var(--common-text-default-text3);
  --specific-card-summaryBox-stroke: var(--global-brand-primary-primary40);
}
